rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all users for the users collection
    match /users/{userId} {
      allow read: if true;
      allow write: if true;
    }
    
    // Allow read/write access to all users for the pizzas collection
    match /pizzas/{pizzaId} {
      allow read: if true;
      allow write: if true;
    }
  }
}